
                <table style="border: none;" class="projects">
                    <tr style="border-bottom: 2px solid black;">
                        <td style="width: 10px;"></td>
                        <td style="width: 350px; text-align: left;">Production title</td>
                        <td>created</td>
                        <td>modified</td>
                        <td></td>
                    </tr>
                    {{#each allSheets}}
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>{{projectTitle}}</td>
                        <td>{{created}}</td>
                        <td></td>
                        <td><a href="/sheet/{{_id}}" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    {{/each}}
                    {{!-- <tr>
                        <td style="width: 130px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr> --}}
                </table>
                    