<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film callSheet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1f18ccba16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <section>
            <!-- <div class="top-left"><h3 class="tr-h3">FILM CALLSHEET</h3></div> -->
            <div class="top-right"><span class="tr-h3"><a href="userlanding.html" style="color: white; text-decoration: none;">FILM CALLSHEET</a></span><div class="dropdown"><button onclick="myFunction()" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/profile">Account</a>
                    <a href="/login">Log out</a>
                </div>
            </div></div>
            <button id="navButton" onclick="sidebar()">
                <div class="hamburger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </button>
            <div class="bottom-left" id="bottomLeft">
                <button id="closeBtn" onclick="sidebarClose()">X</button>
                <div class="cre"><button align="center" type="button" class="btn-cre"><a href="userlanding.html" style="color: white; text-decoration: none;"><i class="fa-solid fa-plus" style="padding-right: 15px;"></i> Create</a></button></div>
            <div class="pro"><button type="button" class="btn-pro"><a href="/sheets-get" style="color: white; text-decoration: none;"><i class="fa-solid fa-folder" style="padding-right: 15px;"></i> Projects</a></button></div>
            <button type="button" class="btn-upg"><i class="fa-solid fa-upload" style="padding-right: 15px;"></i> Upgrade</button><br>
            <button type="button" class="btn-hel"><a href="help.html" style="text-decoration: none; color: white;"><i class="fa-solid fa-circle-question" style="padding-right: 15px;"></i> Help</a></button>
            <p class="footer"><a href="https://www.budgetcamera.ca" style="color: white; text-decoration: none;">Powered by<br>Budget camera studio Inc.</a></p>
            </div>
            <div class="bottom-right" id="bottomRight">
                <h2 class="project-h2">Your Projects</h2>
            <div class="projects-action">
                <div class="dropdown2"><button onclick="myFunction2()" class="action">Action &nbsp;&nbsp;&nbsp;&DownArrow;</button>
                    <div id="myDropdown2" class="dropdown-content2">
                        <a href="#">Download</a>
                        <a href="#">Archive</a>
                        <a href="#">Trash</a>
                    </div>
                </div>
            </div>
                <div class="sheet">
                    <form>
                <table style="border: none;" class="projects">
                    <tr style="border-bottom: 2px solid black;">
                        <td style="width: 10px;"></td>
                        <td style="width: 350px; text-align: left;">Production title</td>
                        <td>created</td>
                        <td>modified</td>
                        <td></td>
                    </tr>
                    {{#each allSheets}}
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>{{projectTitle}}</td>
                        <td>{{created}}</td>
                        <td></td>
                        <td><a href="/sheet/{{_id}}" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    {{/each}}
                    {{!-- <tr>
                        <td style="width: 130px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr>
                    <tr>
                        <td style="width: 10px;"><label><input type="checkbox"></label></td>
                        <td>fire dance video</td>
                        <td>Dec 28, 2021</td>
                        <td>Dec 28, 2021</td>
                        <td><a href="#" style="color: black; text-decoration: none; font-weight: 800;">View</a></td>
                    </tr> --}}
                </table>
                    </form>
                </div>
                </div>
            </div>
    </section>

    <script src="/js/script.js"></script>
</body>
</html>